{% extends "layout.html" %}
{% block title %}
success
{% endblock title %}

{% block style %}
body{
    background-color:#60ccff;
}
.sh{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
{% endblock style %}

{% block body %}

<div class="container text-center sh" style="background-color:white; border-radius:5px; padding-bottom: 20px; margin-top:20%;">
    <div class="align-items-center">
        <strong><h1 style="font-size:50px;">success</h1></strong>
        <br><br>
        <h3>{{student.name}}</h1>
        <h3>{{student.student_id}}</h1>
        <h4>출석 신청이 완료되었습니다.</h3>
    </div>
</div>

{% endblock body %}