<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Temp </title>
    </head>
    <body>
    <form name="EventConfirmRedirection" method="post" action="/attend/check/">
        {% csrf_token %}
        <input type="hidden" value="{{class_hash}}" id="class_hash" name="class_hash"></input>
        <input type="submit" value="Go" >
    </form>

    <script type="text/javascript">
        window.onload = function() {
           document.forms["EventConfirmRedirection"].submit();
        }
    </script>
    </body>
    </html>