{% extends "layout.html" %}

{% block title %}
class detail
{% endblock title %}

{% block style %}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}
.h:hover{
    background-color:#B2EBF2;
}
{% endblock style %}

{% block body %}
<div class="jumbotron" style="background-color:#64B5F6;color:white;">
    <div class="container">
        <h1>{{class.class_model}}</h1>
        <p>강의실 : {{class.class_room}}</p>
        <p>오늘의 날짜 : {{currenttime}}</p>
    </div>
</div>

<div class="container" style="color:#006064;">
    <h3>Class day list</h3>
    <hr>
</div>
<br><br>
<div class="container">
    <table class="table table-striped">
        <thead style="color:#006064;">
            <tr>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody  class="h">
            {% for date in date_model %}
            <tr>
                <td><a href="{% url "class:date_detail" class.id date.id %}">{{date.today}}</a></td>
                <td>{{date.start_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            
</div>


{% endblock body %}