{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- 부트 스트랩 파일들 -->
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        html,body{
            height: 100%;
            overflow:hidden;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <h1>Welcome</h1>
    </div>
   

    <!-- jquery file -->
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>